body {
  background-color: rgb(73, 180, 247);
  background: url("../public/background.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  font-family: 'Crimson Text', serif;
  padding: 20px;
  color: rgb(252, 253, 241);
  font-family: 'Crimson Text', serif;
  padding: 20px;
  color: rgb(252, 253, 241);
}

.Home {


}

.Home-logo {
  height: 20vw;
  border-radius: 50%;
}

.Home-header {
  background-color: rgba(123, 212, 253, .75);
  text-align: center;
  color: rgb(252, 253, 241);
  margin: 3vh;
  padding: 1vh;
  /*border-radius: 20px;*/
}

.Home-intro {
  font-size: large;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(123, 212, 253, .75);
  /*border-radius: 20px;*/
  margin: 3vh
}

.project {
  height: 25vw;
  width: 25vw;
  margin: 5vw;
  background-color: rgb(123, 212, 253);
  border: 1px solid white;
  /*border-radius: 1vw;*/
}

#towers {
  background-image: url('../public/project_1_thumb.png');
  background-size: cover;
  background-position: center;
}

#wellnyss {
  background-image: url('../public/project_2_thumb.png');
  background-size: cover;
  background-position: center;
}

#link {
  background-image: url('../public/project_3_thumb.png');
  background-size: cover;
  background-position: center;
}
